<section class="panel panel-info formBox">
    <div class="panel-heading">
       <span class="glyphicon glyphicon-user"></span> Créez votre compte
    </div>
    <div class="panel-body">
        <form class="form" ng-submit="signUpController.signUp()">
            <div class="alert alert-danger" ng-show="signUpFormError" ng-bind="signUpFormError"></div>

            <div class="form-group">
                <input class="form-control" type="text" required placeholder="Votre nom d'utilisateur" ng-model="signUpController.user.username">
            </div>
            <div class="form-group form-inline">
                <input class="form-control" type="password" required placeholder="Mot de passe" ng-model="signUpController.user.password">
                <input class="form-control" type="password" required placeholder="Mot de passe (vérification)" ng-model="signUpController.user.passwordRepeat">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info">C'est parti  <span class="glyphicon glyphicon-log-in"></span></button>
            </div>
        </form>
    </div>
</section>